body
    {
      margin:0px;
      background-color:#ff99ff;
      color:#000000;
      font-family:Arial, Helvetica, sans-serif;
    }
    
    #main{
      width:600px; 
      height:auto; 
      overflow:hidden; 
      padding-bottom:20px; 
      margin-left:auto; 
      margin-right:auto; 
    border-radius:5px; 
    padding-left:10px; 
    margin-top:100px; 
    border-top:3px double #000000; 
    border-bottom:3px double #000000; 
    padding-top:20px;
    }
    
    #main table{
      font-family:"Comic Sans MS", cursive;
    }

    #main .tb{
      height:28px; 
      width:230px; 
      border:1px solid #000000; 
      outline:none; 
      color:#000000; font-weight:bold; 
      border-left:5px solid #f7f7f7; 
      opacity:0.9;}

    #main .btn{
      width:150px; 
      height:32px; 
      outline:none;  
      color:#f7f7f7;
       font-weight:bold;
        border:0px solid #000000; 
    text-shadow: 0px 0.5px 0.5px #fff; 
    border-radius: 2px;
     font-weight: 600; 
     color: #000000; 
     letter-spacing: 1px; 
    font-size:14px;
    background-color:#f1f1f1; }
  
    #main .btn:hover{
      background-color:#cc0052; 
      outline:none;  
      border-radius: 2px;
       color:#f1f1f1; 
       border:1px solid #f1f1f1;
        }
  