body{
    
    background-image: url("img/simple.jpg");
    background-size: cover;
}
h1{
    align-self: auto;
}
table {
    border-collapse: collapse;
    color: rgb(0, 0, 0);
    margin-left: auto;
  margin-right: auto;
    
}

td,th {
    border: 3px solid hsl(180, 26%, 4%);
    padding: 10px;
}

form {
    width:180px;
    padding-left:280px;
}

input {
    display: block;
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}